.notification
.left-side
  = render 'shared/side_bar'
.right-side
  .header
    .header-left
      %p.name1 グループ名
      %p.name Member：
      .header-right
        %p Edit
  .middle
    .messages
      .upper-messages
        .upper-messages-user
          %p グループ
        .upper-messages-date
          %p 2017/12/26 05:47
      .lower-messages
        %p メッセージ２
  .footer
    .write
      %form
      %input{type: "TEXT", :value => "TYPE a message"}/
    .form-icon
      %i.fa.fa-file-image-o
    .send
      %p Send
