.notification
.left-side
  = render 'shared/side_bar'
  / .username
  /   .username-detail
  /     %p ユーザー名
  /   .username-icon
  /     .icon-write
  /       %i.fa.fa-pencil
  /     .icon
  /       %i.fa.fa-cog
  / .grouplist
  /   .group
  /     .group-name
  /       %p グループ名
  /     .latest-message
  /       %p メッセージ
  /   .group
  /     .group-name
  /       %p グループ名
  /     .latest-message
  /       %p メッセージ
  /   .group
  /     .group-name
  /     .latest-message
  /   .group
  /     .group-name
  /     .latest-message
  /   .group
  /     .group-name
  /     .latest-message
.right-side
  .header
    .header-left
      %p.name1 グループ名
      %p.name Member：
      .header-right
        %p Edit
  .middle
    .messages
      .upper-messages
        .upper-messages-user
          %p グループ
        .upper-messages-date
          %p 2017/12/26 05:47
      .lower-messages
        %p メッセージ２
  .footer
    .write
      %form
      %input{type: "TEXT", :value => "TYPE a message"}/
    .form-icon
      %i.fa.fa-file-image-o
    .send
      %p Send
