body, html,{
  width: 100%;
  height: 100%;
}
.notification{
  color: $notification;
  background-color: $notification_back;
}
.left-side{
  width:300px;
  height:100%;
  float:left;
}
.username{
  background-color:$side_blue_dark;
  height:100px;
  width:300px;
  font-size:16px;
  float:left;
}
.username-detail{
  color:white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding:40px;
}
.username-icon{
  display: inline-block;
  float:right;
  padding:5px;
}
.icon-write{
  color:white;
  display: inline-block;
  height:1px;
}
.icon{
  color:white;
  height:8px;
  display: inline-block;
}
.grouplist{
  background-color:$side_blue_light;
  height: calc(100vh - 100px);
  width:300px;
  float:left;
}

.group{
  box-sizing: border-box;
  padding: 20px 0 40px;
}
.group-name{
  color:white;
  font-size:15px;
  float:left;
  padding:20px 40px 5px 40px;
  height: 10px;
  width: 250px;
}
  .latest-message{
    color:white;
    font-size:11px;
    float:left;
    padding:5px 40px 0px 40px;
    height:calc(50px - 10px);
    width:250px
  }
.right-side{
  width:calc(100% - 300px);
  height:100%;
  float:right;
}
.header{
  background-color:white;
  height:100px;
  padding: 0px 40px;
  width: 900px
}
.title{
  height: 20px;
  width: 250px;
  font-size:20px;
  padding: 50px 0px 15px 0px;
}
.message{
  font-size:25px;
  padding: 5px 0px 5px 0px;
  color: #999;
}
.header-left{
  .name1{
    font-size:20px;
    padding: 10px 0px 0px 0px;
    width: 100px;
  }
  .name{
    color: #999;
    font-size:12px;
    width: 100px;
  }
}
.header-right{
  border: 1px solid #38AEF0;
  color: #38AEF0;
  float:right;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
}

.middle{
  height: 340px;
  background-color:#FAFAFA;
  padding: 10px 40px;
 }

.message{
  height: 70px;
  margin-left: 40px;

  .upper-message{
    height:20px;
    width:350px;
    display: flex;
  }
    .upper-message__user-name{
    font-size: 16px;
    color: #434A54;
    font-weight: bold;
    }

    .upper-message__date{
      margin-left: 10px;
      color: #999;
      font-size: 12px;
      padding-left: 10px;
    }

  .lower-message{
    height: 20px;
     .lower-message__content{
      font-size: 5px;
      color:#434A54;
     }
   }
}

.footer{
  height: 100px;
  padding: 10px 40px;
  background-color: #DDDDDD;
}
.write{
  height: 30px;
  width: 100%;
  float:left;
  .form__message {
    border: none;
    box-sizing: border-box;
    float:left;
    height: 50px;
    width: 75% ;
  }
  .form{
    width: 1200px;
  }
  .fa-cog{
    color: white;
  }
  .fa-pencil-square-o{
    color: white;
  }

}
  .icon{
    color: white;
    float:left;
    padding:18px 5px 16px 5px;
  }
  .hidden{
    display: none;
}
  .form__submit{
    background-color: #38AEF0;
    border: none;
    color: #fff;
    float:right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
    line-height: 50px;
    width: 15%;
  }
